html, body{
    height: 100%;
}

body{
    padding-top: 51px;
}

#loading {
  display: none;
  background: #ff0097;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  opacity: 0.85;
  padding: 10px 30px;
  -webkit-box-shadow: 1px 2px 6px #ff33ac;
  box-shadow: 1px 2px 6px #ff33ac;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;
  left: 48%;
  margin-left: -86px;
  margin-top: -33px;
  position: absolute;
  top: 40%;
  z-index: 999999;
}
.fa-spin {
  margin-right: 6px;
}

/*** user profile ****/
#userProfile {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
#userProfile .avatar {
  width: 36px;
  height: 36px;
}
#userProfile + .dropdown-menu {
  min-width: 200px;
  left: -80px;
}
#userProfile + .dropdown-menu > li > a {
  overflow: hidden;
}
#userProfile + .dropdown-menu i {
  padding-top: 2px;
}
.menu-profile {
  position: fixed;
  right: 10px;
}