<div class="container">
    <h1>I am Contact Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis voluptas illum, dolorem, animi ullam amet ratione veniam, harum nihil, soluta nostrum itaque unde temporibus! Amet ipsum fugiat explicabo ullam perspiciatis.</p>
    <form action="" method="POST" role="form">
    	<legend>Form title</legend>
    
    	<div class="form-group">
    		<label for="">label</label>
    		<input type="text" class="form-control" id="" placeholder="Input field">
    	</div>
    
    	
    
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>